@keyframes opace {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bg-color {
  background-color: #fcfcfc;
}
.landing-page {
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #fcfcfc;
  background: url(../../images/bg_img.png) no-repeat;
  background-size: 45%;
  background-position: 80% 50%;
  .backgnd {
    position: absolute;
    z-index: 0;
    top: -1em;
    right: -2em;
  }
  .container {
    position: relative;
    width: 96%;
    height: 96%;
    min-height: 96vh;
    margin: auto;
    z-index: 5;
    display: flex;
    flex-flow: column;

    .main {
      flex-grow: 1;
      display: flex;
      flex-flow: row;
      align-items: center;

      .pageContent {
        position: absolute;
        color: rgb(48, 47, 47);
        text-align: left;
        width: 40%;
        transform: scale(1) translateY(0%);
        margin-left: 2%;
        h2 {
          font-weight: 100;
          color: rgba(40, 28, 59, 0.9);
          font-size: 6em;
          margin: 50px auto 20px;
          text-shadow: 2px 2px 5px rgba(209, 255, 255, 0.6);
        }
        
        p {
          font-size: 1.5em;
          font-family: myfont;
          flex-wrap: wrap;
          font-weight: 100;
          margin: 0px 0px 1.2em;
          color: black;
        }
       
        .register {
          margin: 1.1em 0;
          padding: 0.5em 1em;
          box-shadow: 5px 5px 5px rgba(54, 54, 54, 0.336);
          width: 8em;
          text-align: left;
          background-color: transparent;
          color: black;
          border: 1px solid rgb(63, 63, 63);
          transition: all linear 0.3s;
          font-size: 1em;
      
          &:hover {
            color: rgba(255, 255, 255, 0.897);
            background-color: var(--myColor);
            .e-icon {
                right: 10%;
            }
          }
          
          .e-icon {
            right: 20%;
            transition: right linear 0.3s;
          
          }
        }
      }
       
    }
  }
}
