.inbox {
  min-height: 92vh;
  max-height: 92vh;
  display: flex;
  flex-direction: column;
  transform: translateY(8vh);
  border-top: 1px solid #c4c4c4;
  
  .spin {
    font-size: 2em;
    position: absolute;
    top: 50%;
    font-family: cursive;
    font-weight: 700;
    left: 50%;
    margin: auto;
   transform: translate(-50%, -50%);
   color: rgb(80, 80, 80);
  }
 
  .empty {
    position: absolute;
    top: 50%;
    color: rgb(80, 80, 80);
    font-family: cursive;
    font-size: 1.5em;
    font-weight: 700;
    left: 50%;
    margin: auto;
   transform: translate(-50%, -50%);
  }

 .wrapper{
   display: inline-flex;
   max-height: 92vh;
   .msgTabs {
     width: 35%;
     background-color: #f5f6f8;
     border-right: 1px solid #c4c4c4;
     display: flex;
     flex-direction: column;
     overflow: hidden;
     .msgcontainer {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      width: 300%;
      transition: transform 0.4s ease-out;

      .inboxDiv, .sentDiv, .draftDiv {
        width: 100%;
        overflow-y: scroll;
        height: 65vh;
        position: relative;
      }

      .divEmpty {
        background: url(../../images/empty.png) center no-repeat;
        background-size: 30%;
      }
     }
      
     .showInbox {
       transform: translateX(0);
     }

     .showSent {
      transform: translateX(-33.3%);
    }

    .showDraft {
      transform: translateX(-66.6%);
    }
     .groupLink{
       height:5em;
       background-color: #fcfcfa;
       border-bottom: 1px solid #c4c4c4;
       display: flex;
       justify-content: center;
       align-items: center;
       span {
          font-size: 1.2em;
          color: var(--myColor);
          font-weight: bold;
          font-family: cursive;
       }
       div {
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 100%;
         box-shadow: 0px 1px 5px rgba(31, 30, 30, 0.5);
         padding: 0.7em;
         margin-left: 2em;
         font-size: 1.4em;
         color: var(--myColor);
         border: 2px solid var(--myColor);
         background-color: white;
       }
     }
      .filters {
        display: flex;
        padding: 0 1em;
        border-bottom: 1px solid #c4c4c4;
        padding: 1em;
      }
      .tabs{
        display: flex;
      }
    }
    .thread {
      padding: 0.5em 0.2em 0.3em;
      width: 65%;
      max-height: 92vh;
      overflow-y: scroll;
      position: relative;

     .plus {
      position: absolute;
      height: 3.5em;
      width: 3.5em;
      right: 5%;
      bottom: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid var(--myColor);
      color: var(--myColor);
      box-shadow: 0px 2px 5px rgba(31, 30, 30, 0.5); 
      background-color: white;
      cursor: pointer;
      z-index: 2;

      &:hover {
        background-color: var(--myColor);
        color: white;
      }
    }
    .msgContent {
     position: relative;
     height: 100%;
     background: url(../../images/message.png) center no-repeat;
     background-size: 30%;
    }
    }
    
 }

}