.tab{
  height: 3.5em;
  border: none;
  display: flex;
  background-color: white;
  position: relative;
  flex-grow: 1;
  label {
    width: 100%;
    color: #a4a4a4;
    font-weight: bold;
    border-bottom:3px solid transparent;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .tabIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
  }
  }
   
  input {
    display: none;
  }
  input:checked + label {
    color: #00349c;
    border-color: #00349c;
  }
  
}